<p style="margin: 0;">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Sistema de registro</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-drawer-container class="example-container" >
  <mat-drawer #drawer opened  mode="side">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let ruta of rutas" [routerLink]="ruta.router">
        {{ruta.name}}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <router-outlet></router-outlet>

</mat-drawer-container>


