<div class="container">
    <mat-card class="card" >
        <mat-card-title>Registro de salida</mat-card-title>
        <mat-divider></mat-divider>
        <mat-form-field appearance="legacy">
            <mat-label>Ingrese el código del estudiante</mat-label>
            <input [(ngModel)]="estudiante.codigo" matInput>
          </mat-form-field>
          <button mat-raised-button color="primary" style="width: 100%;" (click)="registrarSalida()">Registrar salida</button>
      </mat-card>
</div>