<div class="container">
    <mat-card class="example-card" style="width: 900px; margin: auto;">
        <mat-card-title>Reporte de asistencia</mat-card-title>
        <mat-divider></mat-divider>
        <mat-list>

            <mat-grid-list cols="2">
                <mat-grid-tile>
                    <div>
                        <mat-list>
                            <div *ngFor="let asistencia of asistencias">
                                <mat-list-item>{{asistencia.estudiante.nombre}} {{asistencia.estudiante.apellidos}} - {{asistencia.estudiante.codigo}}</mat-list-item>
                                <mat-divider></mat-divider>
                            </div>
                        </mat-list>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <mat-list>
                        <div *ngFor="let asistencia of asistencias">
                            <mat-list-item>
                                <mat-checkbox class="example-margin" [(ngModel)]="asistencia.ingresoConfirmado" [disabled]="true">Ingreso</mat-checkbox>
                                <mat-checkbox class="example-margin" [(ngModel)]="asistencia.salidaConfirmado" [disabled]="true">Salida</mat-checkbox>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-list>
                </mat-grid-tile>
              </mat-grid-list>
          </mat-list>
    
      </mat-card>
</div>

